{% extends 'base/base_reg.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
<div class="container">
    <div class="row signup-page">

    
            {% if form.errors %}
                <p>Some information may be incorrect</p>
            {% endif %}
            <div class="signup-fields">
                <div class="section">
                    <div class="form-section">
                        <form method="POST",action=".">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                </div>
                <div class="section">
                    <p>Have an account? <a href="/accounts/login/">Sign In</a></p>
                </div>
            </div>

    </div>
</div>
{% endblock %}