{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row centered-form">
        <div class="col-md-4">
            {% if form.error %}
            <p class="small">{{form.error}}</p>
            {% endif %}
            <div class="section">
                <div class="form-section">
                    <form action="{% url 'neighbourhood.create-edit-products' %}{% if product_id %}?product_id={{product_id}}{% endif %}" method="POST", enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}