{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="profile-row">
        <a href="#" class="btn btn-primary btn-sm">Add post</a>
        <div class="card-columns">
            {% if posts %}
            {% for post in posts %}
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.body}}</p>
                        <p>{{post.created_at | date }}</p>
                    </div>
                    {% if post.profile == request.user %}
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">Edit post</a>
                    </div>
                    {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <h4>No posts</h4>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}