{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row profile-row">
    <!--Grid column-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card testimonial-card">
        
                <!--Background color-->
                <div class="card-up teal lighten-2">
                </div>
                {% if request.user.profile.profile_photo %}
                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="{{request.user.profile.profile_photo.url}}"
                    alt="avatar mx-auto white" class="rounded-circle img-fluid">
                </div>
                {% endif %}
        
                <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</h4>
                <hr>
                <h5 class="card-title mt-1">{{request.user.profile.neighbourhood.name}}</h5>
                <hr>
                <!--Quotation-->
                <p><i class="fas fa-quote-left"></i>{{request.user.profile.biography}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'neighbourhood.edit-profile' %}" class="btn btn-primary btn-sm">Edit profile</a>
                </div>
        
            </div>
            <!--Card-->
        </div>
        <div class="col-md-8">
                <div>Posts</div>
                <div class="card-columns">
                    {% for post in posts %}
                    <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.body}}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'neighbourhood.create-edit-posts' %}?post_id={{post.pk}}" class="btn btn-primary btn-sm">Edit post</a>
                            </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>

</div>
{% endblock %}






    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

        <!--Card-->
        <div class="card testimonial-card">
    
            <!--Background color-->
            <div class="card-up teal lighten-2">
            </div>
            {% if request.user.profile.profile_photo %}
            <!--Avatar-->
            <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            {% endif %}
    
            <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</h4>
            <hr>
            <h5 class="card-title mt-1">{{request.user.profile.neighbourhood.name}}</h5>
            <hr>
            <!--Quotation-->
            <p><i class="fas fa-quote-left"></i>{{request.user.profile.biography}}</p>
            </div>
    
        </div>
        <!--Card-->
      
    </div>
          <!--Grid column-->
